/* App.css */

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  background-color: black;
  border: red;
}

.App {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  box-sizing: border-box;
  padding: 20px;
  width: 40%;
}
.Quest {
  color: rgba(245, 242, 49, 0.952);
}

.map {
  width: 100%;
  height: 300px;
  border: 4px solid rgba(245, 242, 49, 0.952);
}

.mark {
  padding: 20px;
  border-radius: 50%;
  background-color: rgba(245, 242, 49, 0.952);
}

.heading {
  font-size: 40px;
  text-align: center;
  font-family: monospace;
  color: rgba(245, 242, 49, 0.952);
}

p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.952);
  font-family: monospace;
}

#ip {
  color: rgba(255, 255, 255, 0.952);
}

/* Media query for small screens (up to 768px) */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
    justify-content: center;
  }

  .left {
    width: 100%;
  }

  .map {
    height: 200px;
  }

  .heading {
    font-size: 32px;
  }

  p {
    font-size: 14px;
  }

  .loading-gif {
    display: none; /* Hide the GIF on smaller screens */
  }
}
/* #Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add any other styles as needed */

.loading-gif {
  width: 500px;
  height: auto;
}
